mixin product(props = {})
  -var {id, name, price, discount, image, status, rate, className = ''} = props
  div(class=`product ${className}`)
    button.product-wishlist(onclick=`addProductToWishlist(${id})`)
      i.far.fa-heart
    a(href=`product-detail.html?id=${id}`).product-img
      img(src=image, alt="Product image")
    .product-content__wrapper
      .product-content
        a.product-name(href=`product-detail.html?id=${id}`)= name
        if discount
          del= price
          h5.product-price.-discount= discount
        else
          h5.product-price= price
      .product-status
        h5(class=`${status === 0 ? 'red' : "green"}`)= `${status === 0 ? 'SOLD OUT' : "AVAILABLE"}`
        h5
          i.fas.fa-star
          =`${rate}/5`