mixin product(props = {})
  -var {name, price, image, status, rate} = props
  .product
    if !hideImage
      a(href="product-detail.html").product-img
        img(src=image, alt="Product image")
    .product-content
      a.product-name(href="product-detail.html")= name
      h5.product-price= price
    .product-status
      h5= `${status === 0 ? 'SOLD OUT' : "AVAILABLE"}`
      h5= `${rate}/5`